<div class="section-wrapper mt-custom">
	<p class="text-custom text-uppercase"><small>(*) llenar para continuar</small></p>
	<form class="form-row">
		<div class="form-group row">
			<label class="col-md-2 col-form-label font-weight-bold"><small>D&iacute;as enfermo antes de ingreso:</small></label>
			<div class="col-sm-19">
				<input type="number" class="form-control" ng-model="fields.dias_enfermo" min="0" max="99"/>
			</div>
		</div>
		<!--<label class="font-weight-bold">Dolor de Cabeza:</label>
		<rzslider rz-slider-model="fields.teteSlider.value" rz-slider-options="fields.teteSlider.options"></rzslider>-->
	</form>
</div>
