<a href="https://www.rcpcovid19.mx/medical-record/{{ object.id }}"
   class="btn btn-sm btn-default view_link" title="Mostrar" target="_blank">
    <i class="fa fa-eye" aria-hidden="true"></i>
    Mostrar
</a>
