{% apply inky_to_html %}
<container>
    <row class="header">
        <columns>
            <spacer size="16"></spacer>
            <h1 class="text-center">{{ email.subject }}!</h1>
        </columns>

    </row>
    <row>
        <columns>
            <p>{{ message }}</p>
        </columns>
    </row>
</container>
{% endapply %}